.row{
	text-align: center;
	font-family: Impact;
	font-size: 31pt;
	
}
.alex{
	background-color: #c32518;
}
.vincent{
	background-color: #c32518;
}
.julien{
	background-color: #c32518;
}
.sandra{
	background-color: #c32518;
}